.tiles-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-between;
	padding: 6px;
}

.tile {
	border: 1px solid black;
	max-width: 380px;
	margin-bottom: 40px;
	margin: 6px;
}

.tile-link {
	display: block;
	font-family: serif;
	font-size: 20px;
	margin: 6px 6px 0px 6px;
}

.tile-image {
	max-width: 100%
}

.tile-teaser {
	padding: 6px;
	font-family: sans-serif;
}