/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 17, ../../scss/ia/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../scss/ia/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../../scss/ia/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../../scss/ia/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../../scss/ia/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../scss/ia/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../../scss/ia/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ======  Base styles - Some starting defaults with low specificity. ====== */
/* Import @font-face rules here */
/* Set all elements to use border-box by default. Use "inherit" for better specificity
http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
/* line 10, ../../scss/ia/_base.scss */
html {
  box-sizing: border-box;
}

/* line 14, ../../scss/ia/_base.scss */
body {
  width: 94%;
  margin: 0 auto;
}

/*
* { 
outline: 1px solid green;

}
*/
/* line 25, ../../scss/ia/_base.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 29, ../../scss/ia/_base.scss */
html, button, input, select, textarea {
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* line 35, ../../scss/ia/_base.scss */
::-moz-selection {
  background: #B3D4FC;
  text-shadow: none;
}

/* line 39, ../../scss/ia/_base.scss */
::selection {
  background: #B3D4FC;
  text-shadow: none;
}

/* line 44, ../../scss/ia/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 50, ../../scss/ia/_base.scss */
textarea {
  resize: vertical;
}

/* line 54, ../../scss/ia/_base.scss */
input[type="submit"], input[type="search"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 59, ../../scss/ia/_base.scss */
[type="button"] {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* line 68, ../../scss/ia/_base.scss */
strong, b {
  font-weight: bold;
}

/* line 72, ../../scss/ia/_base.scss */
em, i {
  font-style: italic;
}

/* line 76, ../../scss/ia/_base.scss */
a {
  text-decoration: none;
}

/* line 80, ../../scss/ia/_base.scss */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
/* line 85, ../../scss/ia/_base.scss */
.lt-ie9 img {
  width: auto;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 103, ../../scss/ia/_base.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 108, ../../scss/ia/_base.scss */
.cf:after {
  clear: both;
}

/* ======  Typography / RTF Styles ====== */
/* To prevent overwriting issues, we have very few tag-only styles.
Instead, we define a class that can be extended*/
/* line 6, ../../scss/ia/_typography.scss */
body {
  font-size: 14px;
}

/* Anchor Styles*/
/* line 13, ../../scss/ia/_typography.scss */
a {
  cursor: pointer;
}

/* RTF Image Styles*/
/*.rtf figure,
.figure {
    figcaption {}
    &.l-float-l {}
    &.l-float-r {}
}*/
/* Header Styles */
/* line 34, ../../scss/ia/_typography.scss */
.h1, h1 {
  font-family: sans-serif;
  font-size: 36px;
  font-style: bold;
}

/* line 39, ../../scss/ia/_typography.scss */
.h2, h2 {
  font-family: sans-serif;
  font-size: 28px;
}

/* line 43, ../../scss/ia/_typography.scss */
.h3, h3 {
  font-family: sans-serif;
  font-size: 24px;
}

/* line 47, ../../scss/ia/_typography.scss */
.h4, h4 {
  font-family: sans-serif;
  font-size: 20px;
}

/* line 51, ../../scss/ia/_typography.scss */
.h5, h5 {
  font-family: sans-serif;
  font-size: 18px;
}

/* line 55, ../../scss/ia/_typography.scss */
.h5, h5 {
  font-family: sans-serif;
  font-size: 16px;
}

/* Body Copy Style */
/* line 62, ../../scss/ia/_typography.scss */
.p, p {
  font-family: serif;
  font-size: 14px;
}

/* line 67, ../../scss/ia/_typography.scss */
.ul, ul,
.ol, ol {
  margin-bottom: 0.5em;
  font-size: 15px;
}

/* Link with a right-pointing single arrow quote */
/* line 74, ../../scss/ia/_typography.scss */
.link-arrow:after {
  content: '\00a0\203A';
}

/* Link with a right-pointing double arrow quote */
/* line 81, ../../scss/ia/_typography.scss */
.link-arrows:after {
  content: '\00a0\00bb';
}

/* line 5, ../../scss/ia/_layout.scss */
.l-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

/* line 11, ../../scss/ia/_layout.scss */
.l-contain {
  width: 94%;
  margin: 0 auto;
}

/* line 15, ../../scss/ia/_layout.scss */
.l-1-col-master .l-content-primary {
  width: 100%;
}

/* line 20, ../../scss/ia/_layout.scss */
.l-2-col-master .l-content-primary {
  width: 75%;
  float: left;
}

/* line 25, ../../scss/ia/_layout.scss */
.l-2-col-master .content-nav {
  width: percentage 0.25;
  float: left;
}

/* line 30, ../../scss/ia/_layout.scss */
.l-3-col-master .l-content-primary {
  width: 45%;
  float: left;
}

/* line 35, ../../scss/ia/_layout.scss */
.l-3-col-master .content-nav {
  width: percentage 0.25;
  float: left;
}

/* line 40, ../../scss/ia/_layout.scss */
.l-3-col-master .content-secondary {
  width: 25%;
  float: right;
}

/* line 45, ../../scss/ia/_layout.scss */
.l-header {
  background-color: #FFE0FF;
  width: 100%;
  max-width: 1300px;
}

/* line 50, ../../scss/ia/_layout.scss */
.l-footer {
  width: 100%;
  max-width: 1300px;
}

@media (max-width: 900px) {
  /* line 57, ../../scss/ia/_layout.scss */
  .content-nav {
    display: none;
  }

  /* line 61, ../../scss/ia/_layout.scss */
  .l-2-col-master .l-content-primary {
    width: auto;
  }

  /* line 65, ../../scss/ia/_layout.scss */
  .header-utility .nav-utility {
    display: none;
  }
}
/*Rules for floats in utility*/
/* line 2, ../../scss/ia/_utility.scss */
.u-float-left {
  float: left;
}

/* line 6, ../../scss/ia/_utility.scss */
.u-float-right {
  float: right;
}

/* .is-collapsed applies to nav-breadcrumb-children list items */
/* line 11, ../../scss/ia/_utility.scss */
.is-collapsed {
  display: none;
}

/* .is-open and .is-closed apply to nav-breadcrumb-toggle on parent item */
/* line 1, ../../scss/ia/_web-forms.scss */
input {
  display: block;
  background: #ffffef;
  height: 34px;
  width: 260px;
}

/* line 9, ../../scss/ia/_web-forms.scss */
input[type="radio"] {
  display: inline-block;
  width: auto;
  height: auto;
}

/* line 15, ../../scss/ia/_web-forms.scss */
input[type="checkbox"] {
  display: inline-block;
  width: 26px;
  height: auto;
}

/* line 21, ../../scss/ia/_web-forms.scss */
input[type="select"] {
  height: auto;
}

/* line 27, ../../scss/ia/_web-forms.scss */
.btn-signup {
  display: block;
  background: #9fd0f4;
  height: 40px;
  width: 260px;
  font-size: 18px;
  margin-top: 26px;
}

/* line 36, ../../scss/ia/_web-forms.scss */
label {
  display: block;
  margin-bottom: 6px;
  margin-top: 26px;
  font-size: 16px;
}

/* line 43, ../../scss/ia/_web-forms.scss */
legend {
  display: block;
  padding-bottom: 6px;
  padding-top: 32px;
  font-size: 16px;
}

/* line 50, ../../scss/ia/_web-forms.scss */
.error {
  color: red;
  font-size: 11px;
}

/* line 55, ../../scss/ia/_web-forms.scss */
.required {
  color: red;
}

/* line 60, ../../scss/ia/_web-forms.scss */
.input-error {
  border: 1px solid red;
  background: #ffffef;
}

/* line 65, ../../scss/ia/_web-forms.scss */
.form-selector {
  height: 34px;
  width: 260px;
}

/* line 1, ../../scss/ia/_nav-primary.scss */
.nav-primary {
  position: relative;
}
/* line 4, ../../scss/ia/_nav-primary.scss */
.nav-primary a {
  display: block;
  color: #fff;
  font-size: 18px;
}
/* line 9, ../../scss/ia/_nav-primary.scss */
.nav-primary a.active {
  color: #f9f9f9;
}
/* line 13, ../../scss/ia/_nav-primary.scss */
.nav-primary a:hover {
  text-decoration: underline;
}

/* line 20, ../../scss/ia/_nav-primary.scss */
.nav-primary-level-1 {
  position: absolute;
  top: 0;
  width: 20%;
  height: 60px;
  text-align: center;
  padding: 20px;
}
/* line 28, ../../scss/ia/_nav-primary.scss */
.nav-primary-level-1.nav-primary-level-1-item-1 {
  left: 0;
  background-color: #C83326;
  border: 1px solid white;
  position: relative;
}
/* line 35, ../../scss/ia/_nav-primary.scss */
.nav-primary-level-1.nav-primary-level-1-item-2 {
  left: 20%;
  background-color: #E56D10;
  border: gray 1px;
  border: 1px solid white;
}
/* line 43, ../../scss/ia/_nav-primary.scss */
.nav-primary-level-1.nav-primary-level-1-item-3 {
  left: 40%;
  background-color: #00559B;
  border: 1px solid white;
}
/* line 50, ../../scss/ia/_nav-primary.scss */
.nav-primary-level-1.nav-primary-level-1-item-4 {
  left: 60%;
  background-color: #9159A9;
  border: 1px solid white;
}
/* line 57, ../../scss/ia/_nav-primary.scss */
.nav-primary-level-1.nav-primary-level-1-item-5 {
  left: 80%;
  background-color: #00B5A3;
  border: 1px solid white;
}

/* line 65, ../../scss/ia/_nav-primary.scss */
.nav-primary-flyout {
  width: 400px;
  position: relative;
  padding: 20px;
  background-color: #f1f1f1;
  z-index: 300;
}
/* line 72, ../../scss/ia/_nav-primary.scss */
.nav-primary-flyout:hover {
  display: block;
}
/* line 76, ../../scss/ia/_nav-primary.scss */
.nav-primary-flyout a {
  color: #000;
  font-size: 14px;
  line-height: 28px;
}
/* line 81, ../../scss/ia/_nav-primary.scss */
.nav-primary-flyout a:hover {
  text-decoration: underline;
}

/* line 87, ../../scss/ia/_nav-primary.scss */
.nav-primary-flyout-leftside {
  float: left;
  display: inline-block;
  width: 60%;
  margin-top: 10px;
  border-right: 1px solid gray;
}

/* line 95, ../../scss/ia/_nav-primary.scss */
.nav-primary-flyout-rightside {
  float: right;
  display: inline-block;
  width: 40%;
  padding-left: 20px;
}

/* line 102, ../../scss/ia/_nav-primary.scss */
.nav-primary-flyout-heading {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  line-height: 28px;
}

@media (min-width: 901px) {
  /* line 110, ../../scss/ia/_nav-primary.scss */
  .nav-primary {
    height: 80px;
  }

  /* line 116, ../../scss/ia/_nav-primary.scss */
  .nav-primary-level-1:hover + .nav-primary-flyout {
    display: block;
  }

  /* line 122, ../../scss/ia/_nav-primary.scss */
  .nav-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* line 129, ../../scss/ia/_nav-primary.scss */
  .nav-primary-flyout {
    width: 400px;
    position: absolute;
    padding: 20px;
    background-color: #f1f1f1;
    display: none;
    bottom: 80px;
    z-index: 300;
  }

  /* line 139, ../../scss/ia/_nav-primary.scss */
  .nav-primary-flyout-item-1 {
    left: 0;
  }

  /* line 144, ../../scss/ia/_nav-primary.scss */
  .nav-primary-flyout-item-2 {
    left: 20%;
  }

  /* line 148, ../../scss/ia/_nav-primary.scss */
  .nav-primary-flyout-item-3 {
    left: 40%;
  }

  /* line 152, ../../scss/ia/_nav-primary.scss */
  .nav-primary-flyout-item-4 {
    left: 60%;
  }

  /* line 156, ../../scss/ia/_nav-primary.scss */
  .nav-primary-flyout-item-5 {
    right: 0;
  }

  /* line 160, ../../scss/ia/_nav-primary.scss */
  .nav-primary-toggle {
    display: none;
  }
}
@media (max-width: 900px) {
  /* line 167, ../../scss/ia/_nav-primary.scss */
  .nav-primary-level-1 {
    position: relative;
    width: auto;
    left: 0 !important;
    height: 60px;
    padding: 20px;
  }

  /* line 175, ../../scss/ia/_nav-primary.scss */
  .nav-primary-flyout {
    width: 100%;
    display: block;
  }

  /* line 180, ../../scss/ia/_nav-primary.scss */
  .nav-primary-toggle {
    position: absolute;
    right: 20px;
    top: 15px;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 30px;
  }
}
/* line 1, ../../scss/ia/_nav-secondary.scss */
.content-nav {
  z-index: 300;
}

/* line 5, ../../scss/ia/_nav-secondary.scss */
.content-nav a {
  display: block;
}

/* line 9, ../../scss/ia/_nav-secondary.scss */
.nav-breadcrumb-parent {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  min-height: 30px;
  padding-top: 6px;
}

/* line 17, ../../scss/ia/_nav-secondary.scss */
.nav-breadcrumb-parentlink {
  width: 60%;
}

/* line 20, ../../scss/ia/_nav-secondary.scss */
.nav-breadcrumb-toggle {
  position: absolute;
  right: 10px;
  top: 0px;
  height: 30px;
  width: 30px;
  border: 1px solid red;
  text-align: center;
  line-height: 30px;
}

/* line 31, ../../scss/ia/_nav-secondary.scss */
.nav-breadcrumb-level {
  padding: 10px 20px;
}

/* line 35, ../../scss/ia/_nav-secondary.scss */
.nav-breadcrumb-childitems li {
  padding: 10px;
  margin-left: 10px;
}

/* line 40, ../../scss/ia/_nav-secondary.scss */
.nav-breadcrumb-level-1 {
  background: #999999;
}

/* line 43, ../../scss/ia/_nav-secondary.scss */
.nav-breadcrumb-level-2 {
  padding-left: 30px;
  background: #cccccc;
}

/* line 47, ../../scss/ia/_nav-secondary.scss */
.nav-breadcrumb-level-3 {
  padding-left: 50px;
  background: #e6e6e6;
}

/* line 1, ../../scss/ia/_nav-utility.scss */
.nav-utility {
  display: inline-block;
  position: absolute;
  left: 260px;
}
/* line 6, ../../scss/ia/_nav-utility.scss */
.nav-utility li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
}
/* line 10, ../../scss/ia/_nav-utility.scss */
.nav-utility li a {
  color: green;
}
/* line 13, ../../scss/ia/_nav-utility.scss */
.nav-utility li a.active {
  color: black;
}
/* line 17, ../../scss/ia/_nav-utility.scss */
.nav-utility li a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  /* line 29, ../../scss/ia/_nav-utility.scss */
  .header-utility .nav-utility {
    display: none;
  }
}
/* line 1, ../../scss/ia/_header.scss */
.header-utility {
  position: relative;
  height: 100px;
}

/* line 1, ../../scss/ia/_header-logo.scss */
.header-logo {
  display: block;
  position: absolute;
  width: 120px;
  height: 90px;
  background-color: gray;
}

/* line 1, ../../scss/ia/_utility-user-login.scss */
.header-user-login {
  position: absolute;
  top: 50px;
  right: 20px;
}

/* line 7, ../../scss/ia/_utility-user-login.scss */
.user-login-button {
  display: inline-block;
  position: relative;
  height: 26px;
  width: 70px;
  border: 1px solid gray;
  background-color: #ADD8E6;
  border-radius: 3px;
  padding-right: 10px;
}

/* line 18, ../../scss/ia/_utility-user-login.scss */
.user-login-flyout {
  padding: 10px;
  width: 220px;
  position: absolute;
  border: 1px solid gray;
  left: -150px;
  background-color: white;
  z-index: 400;
}

/* line 28, ../../scss/ia/_utility-user-login.scss */
input [type="submit"] {
  width: 100px;
  height: 30px;
  border-radius: 3px;
}

/* line 34, ../../scss/ia/_utility-user-login.scss */
.user-login-help {
  font-size: 10px;
}

/* line 38, ../../scss/ia/_utility-user-login.scss */
.input-field-bottom-margin {
  margin-bottom: 10px;
}

/* line 1, ../../scss/ia/_search-utility.scss */
.header-search {
  display: block;
  position: absolute;
  top: 6px;
  right: 20px;
}
/* line 7, ../../scss/ia/_search-utility.scss */
.header-search[placeholder] {
  color: #C0C0C0;
}
/* line 10, ../../scss/ia/_search-utility.scss */
.header-search .header-search-label {
  display: none;
}

/* line 1, ../../scss/ia/_tiles.scss */
.tiles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  padding: 6px;
}

/* line 10, ../../scss/ia/_tiles.scss */
.tile {
  border: 1px solid black;
  max-width: 380px;
  margin-bottom: 40px;
  margin: 6px;
}

/* line 17, ../../scss/ia/_tiles.scss */
.tile-link {
  display: block;
  font-family: serif;
  font-size: 20px;
  margin: 6px 6px 0px 6px;
}

/* line 24, ../../scss/ia/_tiles.scss */
.tile-image {
  max-width: 100%;
}

/* line 28, ../../scss/ia/_tiles.scss */
.tile-teaser {
  padding: 6px;
  font-family: sans-serif;
}
